*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

*:focus, *::before:focus, *::after:focus {
  outline: 1px solid gray;
}


body {
  background: tomato;
  color: white;
  padding: 2em 5%;
  font-size: 2rem;
}

input, button, li {
  padding: 15px;
  border: none;
}

button {
  cursor: pointer;
}